<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/productAll" data-title="查看商品" href="javascript:void(0)">查看商品</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/cateAll" data-title="商品分类" href="javascript:void(0)">商品分类</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/addCate" data-title="添加分类" href="javascript:void(0)">添加分类</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i>微信界面<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/banner" data-title="轮播界面" href="javascript:void(0)">修改幻灯片</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i>城市管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/GetCityAll" data-title="查看城市" href="javascript:void(0)">查看城市</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/addCity" data-title="添加城市" href="javascript:void(0)">添加城市</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i>供货仓管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/adminGetStorehouseAll" data-title="查看门店" href="javascript:void(0)">查看供货仓</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/adminAddStorehouse" data-title="添加门店" href="javascript:void(0)">添加供货仓</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i>推广员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/adminGetWorkerAll" data-title="查看推广员" href="javascript:void(0)">查看推广员</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/addEworker" data-title="添加推广员" href="javascript:void(0)">添加推广员</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i>门店管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/adminGetStoreAll" data-title="查看门店" href="javascript:void(0)">查看门店</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/adminAddStore" data-title="添加门店" href="javascript:void(0)">添加门店</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i> 个人信息<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/info" data-title="查看信息" href="javascript:void(0)">查看信息</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i> 销售数据<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/payOrder" data-title="总数据" href="javascript:void(0)">总数据</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/cityOrder" data-title="城市数据" href="javascript:void(0)">城市数据</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/storehouseOrder" data-title="供货仓数据" href="javascript:void(0)">供货仓数据</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/eworkerOrder" data-title="推广员数据" href="javascript:void(0)">推广员数据</a></li>
				</ul>
				<ul>
					<li><a data-href="/admin/storeOrder" data-title="门店数据" href="javascript:void(0)">门店数据</a></li>
				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>